@model HomeIndexViewModel

@{
    ViewBag.Title = "Restaurant Info";
}

<h1>Restaurants</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant);
}

<div>
    <a asp-action="Create">Add Restaurant</a>
</div>

<div>
    @section footer {
        @Model.CurrentMessage
    }
</div>