@page
@using RestaurantInfo.Pages.Restaurants

@model ListModel

@foreach (var restaurant in Model.Restaurants)
{
    <section>
        <div>@restaurant.Id</div>
        <div>@restaurant.Name</div>
        <div>@restaurant.Cuisine</div>
        <a asp-action="Details" asp-controller="Home" asp-route-id="@restaurant.Id">Details</a>
    </section>
}

<div>
    <a asp-action="Create" asp-controller="Home">Add Restaurant</a>
</div>
